<?xml version="1.0"?>
<web-app>
<servlet>
<servlet-name>Cookie1</servlet-name>
<servlet-class>Cookie1</servlet-class>
<init-param>
<param-name>usr1</param-name>
<param-value>seenu</param-value>
</init-param>
<init-param>
<param-name>pw1</param-name>
<param-value>seenu123</param-value>
</init-param>
<init-param>
<param-name>usr2</param-name>
<param-value>sudha</param-value>
</init-param>
<init-param>
<param-name>pw2</param-name>
<param-value>sudha123</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>Cookie1</servlet-name>
<url-pattern>/Cookie1</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>login.html</welcome-file>
</welcome-file-list>
</web-app>